<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Чаты</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h1>Чат</h1>
<table>
    <tr>
        <th>Название чата</th>
        <th>Содержание чата</th>
        <td>Действия</td>
    </tr>
    <#list lessons as lesson>
        <tr>
            <td>${lesson.name}</td>
            <td>${lesson.summary}</td>
            <td>
                <a href="/lessons/${lesson.id}">Перейти</a>
                <a href="/lessons/${lesson.id}/delete">Удалить</a>
            </td>
        </tr>
    </#list>
</table>
<form action="/lessons" method="post">
    <label>
        Название
        <input type="text" name="name" placeholder="Введите название">
    </label>
    <br>
    <label>
        Содержание чата
        <input type="text" name="summary" placeholder="Введите содержание">
    </label>
    <br>
         Начало чата
    <input type="time" name="startTime" placeholder="Введите время" value="00:00">
    </label>
    <br>
    Начало чата
    <input type="time" name="finishTime" placeholder="Введите время" value="00:00">
    </label>
    <br>
    <input autofocus type="submit" value="Добавить"/>
</form>
</body>
</html>